{% extends 'base.html' %}

      {% block mainmenu %}
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for item in departures.items %}
          {% if item.0 == departure_as_url %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'departure' item.0  %}">{{ item.1 }}</a>
          </li>
           {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departure' item.0  %}">{{ item.1 }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endblock %}

  {% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим <b>{{ departure_to_lower }}</b></h1>
    <p class="mb-4"><b>Найдено {{ num_tours_by_departure }} туров</b>, от {{ min_price }} до {{ max_price }}
      и от {{ min_nights }} ночей до {{ max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for tour in tours_by_departure.items %}
        <div class="col-4">
        <div class="card mb-4">
            <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour.1.picture}}" alt="" />
          </div>
<!--          <img src="{{ tour.1.picture }}" class="card-img-top img-fluid" alt="">-->
          <div class="card-body">
            <h2 class="h5 card-title">{{tour.1.country}}: {{ tour.1.title }}, {{ tour.1.stars }}★</h2>
            <p class="card-text">{{ tour.1.description|truncatechars:60 }}</p>
            <h6>{{ tour.1.date }}, {{ tour.1.nights|add:1 }} дней, {{ tour.1.price }} P, {{ tour.1.stars }} ★</h6>
            <a href="{% url 'tour' tour.0 %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </main>
  {% endblock %}
