{% extends 'base.html' %}
{% load stars %}

      {% block mainmenu %}
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for item in departures.items %}
          {% if item.1 == departure %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'departure' item.0  %}">{{ item.1 }}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departure' item.0  %}">{{ item.1 }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endblock %}

  {% block content %}
  <main class="container">
    <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4"><b>{{ tour.title }} {{ tour.stars|stars }}</b></h1>
      <!-- HERO -->
      <p class="lead">{{ tour.country }} {{ departure_to_lower }} {{ tour.nights }} ночей</p>
      <img src="{{ tour.picture }}" class="w-75" alt="">
      <p class="my-4 w-75">{{ tour.description }}</p>
      <a href="https://mail.google.com/" class="btn btn-success btn-lg">Купить тур за <b>{{ tour.price }}</b></a>
    </section>
  </main>
  {% endblock %}
